<div class="row">
  <div class="col-md-4">
    <h3>Seleccione archivos</h3>
    <div appNgDropFiles [files]="fileItemList" (mouseInto)="isMouseIntoDropZone=$event;" class="well drop-zone" [ngClass]="{'file-over': isMouseIntoDropZone}">
      <h4>Arrastre aquí los archivos</h4>
      <img src="assets/images/drop-images.png"/>
    </div>
  </div>

  <div class="col-md-8">
    <h4>Cargar archivos</h4>
    <button (click)="uploadImages()" [disabled]="fileItemList.length === 0" type="button" class="btn btn-success">Cargar a firebase</button>
    <button type="button" class="btn btn-danger">limpiar</button>

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileItem of fileItemList">
          <td [ngClass]="{'text-green': fileItem.uploadComplete}">{{fileItem.filename}}</td>
          <td>{{fileItem.file.size / 1024 / 1024 | number: '.2-2'}} MB</td>
          <td>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="25"
                  [ngStyle]="{'width': fileItem.progress + '%'}"></div>
                </div>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
